<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}iTimeline: plan your future{% endblock %}</title>
        <link rel="stylesheet" href="/static/style.css" type="text/css">
    </head>
    <body>
        <div id="wrapper">
            <header>
                <nav>
                    {% if user.is_authenticated %}
                    <b>Hello, {{ user.first_name }} {{ user.last_name }}</b> | <b><a href="/">Home</a></b> | 
                    <b><a href="/logout">Log out</a></b>
                    {% else %}
                    <b><a href="/login">Log in</a></b> | 
                    <b><a href="/registration">Sign up</a></b>
                    {% endif %}
                </nav>
                <div id="logo">
                    <a href="/">
                        <img src="../static/images/logo.png" alt="iTimeline logo"/>
                    </a>
                    <h1>iTimeline</h1>
                </div>                
            </header>

            {% block body %}
            Body goes here
            {% endblock %}

        </div>
        <footer></footer>
    </body>
</html>
