{% extends "base.html" %}

{% block title %}iTimeline{% endblock %}

{% block body %}
<section id="promote_text">
	{% if user.is_authenticated %}
    <div id="upcoming">
        <h2>Groups</h2>
        {% if not groupslist %}
        <p>You are not in any groups yet.</p>
        {% else %}
            {% for group in groupslist %}
            <span class="event_title"><a href="/groups/{{ group.id }}"><h3>{{ group.name }}</h3></a></span>
            {% endfor %}
        {% endif %}
    </div>
    {% else %}
    <div>
    	<h3>Plan your future.</h3>
    	<p>We help you schedule your time.</p>
    	<p>Do you have an account?</p>
    	<form action="/login">
            <input type="submit" value="Log in">
        </form>
    	<p>New to iTimeline?</p>
        <form action="/registration">
            <input type="submit" value="Sign up">
        </form>
    </div>
    {% endif %}
</section>

{% endblock %}
