{% extends "base.html" %}

{% block title %}iTimeline{% endblock %}

{% block body %}
<section id="news_feed">
	{% if user.is_authenticated %}
    <div id="upcoming">
        <h2>Upcoming events</h2>
        {% for events in upcoming_events %}
        <span class="event_title"><h4><a href="/event{{ event.id }}">{{ event.title }} - {{ event.start_time }} {% if event.end_time %} to {{ event.end_time }}{% endif %}</a></h4></span>
        {% endfor %}
    </div>
    <div id="news">
        <h2>News</h2>
        {% for comment in news %}
        <span class="news"><h5><a href="/event{{ event.id }}">{{ comment.event.title }} - {{ comment.event.start_time }} {% if comment.event.end_time %} to {{ comment.event.end_time }}{% endif %}</a></h5></span>
        <span class="comment">{{ comment.text }} from {{ comment.creator}} on {{ comment.created | timesince }}</span>
        {% endfor %}
    </div>
    {% else %}
    <div id="promote_text">
    	<h3>Plan your future.</h3>
    	<p>We help you schedule your time.</p>
    	<p>Do you have an account?</p>
    	<form action="/login">
            <input type="submit" value="Log in">
        </form>
    	<p>New to iTimeline?</p>
        <form action="/registration">
            <input type="submit" value="Sign up">
        </form>
    </div>
    {% endif %}
</section>
{% if user.is_authenticated %}
<aside>
    <div id="month"></div>
    <button type="button">Events</button>
    <button type="button">Groups</button>
    <button type="button">Add a new event</button>
    <button type="button">Add a new group</button>
</aside>
{% endif %}
{% endblock %}
