{% extends "base.html" %}

{% block title %}iTimeline{% endblock %}

{% block body %}
<section id="news_feed">
	{% if user.is_authenticated %}
    <div id="upcoming">
        <h2>Upcoming events</h2>
        {% if not upcoming_events %}
        <p>There are not any upcoming events.</p>
        {% else %}
            {% for event in upcoming_events %}
            <span class="event_title"><h4><a href="/events/{{ event.id }}/">{{ event.title }} - {{ event.start_time }} to {{ event.end_time }}</a></h4></span>
            {% endfor %}
        {% endif %}
    </div>
    <div id="news">
        <h2>News</h2>
        {% if not news %}
            <p>There is no recent news.</p>
        {% else %}
            {% for comment in news %}
            <span class="news"><h5><a href="/events/{{ event.id }}/">{{ comment.event.title }} - {{ comment.event.start_time }} {% if comment.event.end_time %} to {{ comment.event.end_time }}{% endif %}</a></h5></span>
            <span class="comment">{{ comment.text }} </br>
                <p id="min_comment">from <a href="{{comment.creator.id}}">{{ comment.creator.first_name}} {{ comment.creator.last_name}}</a>  -  {{ comment.created | timesince }} ago</p></span>
            {% endfor %}
        {% endif %}
    </div>
    {% else %}
    <div id="promote_text">
    	<h3>Plan your future.</h3>
    	<p>We help you schedule your time.</p>
    	<p>Do you have an account?</p>
    	<form action="/login">
            <input type="submit" value="Log in">
        </form>
    	<p>New to iTimeline?</p>
        <form action="/registration">
            <input type="submit" value="Sign up">
        </form>
    </div>
    {% endif %}
</section>
{% if user.is_authenticated %}
<aside id="home">
    <div id="month"></div>
    <form action="/events">
            <input type="submit" value="Events">
    </form>
    <form action="/create_event">
            <input type="submit" value="New event">
    </form>
    <form action="/groups">
            <input type="submit" value="Groups">
    </form>
    <form action="/create_group">
            <input type="submit" value="New group">
    </form>
</aside>
<div class="clear"></div>
{% endif %}
{{ calendar }}
{% endblock %}
